Django==5.2.7
asgiref==3.10.0
pytz==2025.2
tzdata==2025.2
sqlparse==0.5.3
pillow==11.3.0
charset-normalizer==3.4.4
python-dateutil==2.9.0.post0
typing_extensions==4.15.0
numpy==2.2.6   # keep if your app uses arrays or CSV processing
